.profile_form * {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

.profile_form {
  border: 1px solid lightgrey;
  border-radius: .25em;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  justify-content: center;
  align-content: stretch;
  padding: 0px;
}

.submit_button, .disabled_submit_button {
  color: white;
  border: solid 2px white;
  border-radius: .30em;
  height: 2em;
  width: 50%;
  align-self: center;
}

.submit_button {
  background: #2980B9;
}

.disabled_submit_button {
  background: darkgrey;
}

.message {
  margin: 0 auto;
  text-align: center;
}

.profile_form input:focus {
  outline:none;
}