.field_container *{
  padding: 4px;
}

.field {
  border: 2px solid lightblue;
  border-radius: .25em;
}

.invalid_field {
  border: 2px solid red;
  border-radius: .25em;
}

.field_container {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  justify-content: center;
  align-content: space-between;
  padding: 4px; 
}


.field_container input[type=text] {
  /* padding: 2px; */
}
